* {
  font-family: 'Montserrat', sans-serif;
}

.Nav__navRight___1QG2J span {
  display: flex;
  flex-direction: row;
}
.Nav__navItem___1LtFQ {
  padding: 10px;
}

.Nav__navRight___1QG2J span button {
  background-color: transparent;
  color: inherit;
  transition: all 0.25s;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 5px;
}
.Nav__navRight___1QG2J span button:hover {
  color: #fff;
  background-color: #d9534f;
}
